#/node_modules
/public/hot
/public/storage
/public/fonts
/storage/*.key
/storage/view/
*.log
#/vendor
#public/js/app.js
#public/css/app.css
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/nbproject
.editorconfig
act_servers.sh
db.sql
_ide_helper.php
docker-compose.yml
*.lock
/public/css/app.css
/public/mix-manifest.json
*.sql
