.env
.env.backup
/public/hot
/public/storage
/public/fonts
#/public/js/app.js
#/public/css/app.css
#/public/mix-manifest.json
/storage/*.key
/storage/view/
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/nbproject
.editorconfig
act_servers.sh
_ide_helper.php
docker-compose.yml
*.lock
*.log
*.sql
